<div class="wrap-error">
    <h1>{{title}}</h1>
    <h4 class="subtitle">HTTP Error {{status}}</h4>
    <p>{{message}}</p>
    <hr>
    <p class="stack">{{{stack}}}</p>
    <p>Copyright (c) 2021 Jeon Sangwan, All Rights Reserved</p>
</div>